<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IMAGES</title>
</head>
<body>
      <img src="{% static 'images/facebook.jfif' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/dhoni1.jpg' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/dhoni3.jfif' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/dhoni4.jfif' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/dhoni2.jfif' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/cat.jfif' %}" height="100%" width="70%"><br>
      <img src="{% static 'images/flower.jfif' %}" height="100%" width="70%"><br>

</body>
</html>